// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "./../../node_modules/bootstrap/scss/functions.scss";
@import "./../../node_modules/bootstrap/scss/variables.scss";
@import "./../../node_modules/bootstrap/scss/mixins.scss";

@import 'breakpoints';
// Then add additional custom code here

$font-stack: Helvetica, sans-serif;
$primary-color: $red-300;
$background-color: $blue-100;
$main-text-alignment: center;
$article-list-text-alignment: left;
$button-margin: 1em;




.sign-in-parent {
  position: relative;
  height: 100vh;
}

.sign-in {
  height: auto;
  position: relative;
  top: 10em;
  text-align: $main-text-alignment;
  color: black;
  background-color: $background-color;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  button {
    margin: $button-margin;
  }

  h1 {
    color: $primary-color;
  }

}

.navbar {
  height: 4rem;
  background-color: $red-700;
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.6em;
  color: $red-100;

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }
}

.welcome {
  color: $primary-color;
  background-color: $background-color;
  text-align: $main-text-alignment;
  margin-bottom: 1em;
  
  button {
    margin: $button-margin;
  }

}

.articles-list {
  background-color: $background-color;
  text-align: $article-list-text-alignment;
}

.article {
  height: 4em;
}
