// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "./../../node_modules/bootstrap/scss/functions.scss";
@import "./../../node_modules/bootstrap/scss/variables.scss";
@import "./../../node_modules/bootstrap/scss/mixins.scss";

@import 'breakpoints';
// Then add additional custom code here

$font-stack: Helvetica, sans-serif;
$primary-color: $red-300;
$background-color: $blue-100;
$main-text-alignment: center;
$article-list-text-alignment: left;
$button-margin: 1em;




.sign-in-parent {
  position: relative;
  height: 100vh;
}

.sign-in {
  height: auto;
  position: relative;
  top: 5em;
  text-align: $main-text-alignment;
  color: black;
  background-color: $background-color;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  button {
    margin: $button-margin;
  }

  h1 {
    color: $primary-color;
  }

}

.navbar {
  font-size: 1.5rem;

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  ul {
      display: flex;
      justify-content: space-between;
  }

  li {
    display: inline-block;
  }
}

.welcome {
  color: $primary-color;
  text-align: $main-text-alignment;

  button {
    margin: $button-margin;
  }

}

.articles-list {
  background-color: $background-color;
  text-align: $article-list-text-alignment;

}

.tags {
  margin: 0 0.4em;
  padding: 0 0.2em;
  font-size: 9pt;
  display: inline-block;
  background-color: $primary-color;
  color: white;
  border-radius: 0.5em;
}

.remove-link-style {

  a {
    color: $primary-color;
  }

  a:link {
  text-decoration : none;
  }
}

.article-header {
  text-align: $main-text-alignment;
}

.prompt {
  color: $primary-color;
  background-color: $background-color;
  text-align: $main-text-alignment;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    text-decoration: none;
  }
}

.votes {
  color: $primary-color;
}

.comment-section {
  color: $primary-color;
}




