.test {
  text-align: center;
  color: black;
}

.test ul {
  list-style: none;
  padding: 0%;
}

.test a {
  text-decoration: none;
  color: black;
}

.test a:link {
  text-decoration: none;
}

section {
  width: auto;
  border: 4px solid #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}


