.test {
  text-align: center;
  color: black;
  width: 50vw;
  background-color: blue;
}


.test ul {
  list-style: none;
  padding: 0%;
}

.test a {
  text-decoration: none;
  color: black;
}

.test a:link {
  text-decoration: none;
}

section {
  width: auto;
  /* border: 4px solid #2d2d2d; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section div {
  border: 4px solid #2d2d2d;
  height: 40vh;
}


